# Site
name: 'GitWorkTree'
description: 'Open Source DevOps Tools, Utilities, and Libraries.'
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
baseurl: ''
disqus: ''
email: 'info@gitworktree.com'
mailchimp-list: ''

include: ["_pages"]
permalink: /blog/:categories/:year/:month/:day/:title

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag

authors:
  shiva:
    name:           Shiva Shams
    site:
    avatar:         /assets/images/avatar1.jpg
    bio:            "DevOps Engineer"
    email:          shivaa.shams@gmail.com
    twitter:        https://twitter.com/cheava

  mort:
    name:           Morteza NourelahiAlamdari
    site:           https://0t1.me
    avatar:         /assets/images/avatar2.jpg
    bio:            "Senior Software Engineer"
    email:          m@0t1.me
    twitter:        https://twitter.com/mortymacs

# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
  #      author: sal
  #      avatar: /assets/images/avatar1.jpg

  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page

# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10
paginate_path: blog/page:num/

# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]